<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="${'/css/bootstrap.css'}" rel="stylesheet"/>
    <link th:href="${'/css/starter-template.css'}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>

</head>
<body>

</body>
</html>