<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="navigation">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="${'/articles/list'}">Početna</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a class="navbar-brand" th:href="${T(com.zadatak.security.SecurityUtil).getAuthUserFromLoggedInUser().getLoginName()}">
                        <span th:text="${T(com.zadatak.security.SecurityUtil).getAuthUserFromLoggedInUser().getLoginName()}"></span></a>
                </li>
                <li><a href="javascript: document.logoutForm.submit()" role="menuitem">Odjava</a></li>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input type="submit" value="Odjava"/>
                </form>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
</body>
</html>