<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Articles List</title>
    <div th:include="fragments/header :: header"></div>
    <script type="text/javascript" src="/js/jquery.noty.packaged.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <script type="text/javascript" th:inline="javascript">

        function vote(id, type) {
            $.ajax({
                url: [[@{${'/articles/vote'}
            }
        ]],
            type : 'POST',
                timeout
        :
            10000,
                dataType
        :
            'json',
                accepts
        :
            {
                json : "application/json, text/javascript"
            }
        ,
            data : {
                'id'
            :
                id,
                    'type'
            :
                type
            }
        ,

            success : function(data) {
                $('#voting' + id).load("/articles/list #voting" + id);
                $.noty.defaults.killer = true;

                var message;
                if (type == 1) {
                     message = "zaprimljen.";
                } else {
                     message = "opozvan.";
                }

                noty({
                    text: 'Vaš glas je uspješno ' + message,
                    layout: 'top',
                    closeWith: ['click', 'hover'],
                    type: 'success'
                });
            }
        })
            ;
        }
    </script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#articles').DataTable({
                "order": [[ 1, "desc" ]],
                "oLanguage": {
                    "sEmptyTable": "Trenutno nema članaka za prikaz.",
                    "sSearch": "Filtriraj:",
                    "sLengthMenu": "Prikaži _MENU_ zapisa po stranici",
                    "sZeroRecords": "Nema rezultata",
                    "sInfo": "Prikazani su rezultati _START_ do _END_ od ukupno _TOTAL_",
                    "sInfoEmpty": "Prikazane su članci 0 do 0 od ukupno 0",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ članaka)",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sljedeća",
                        "sLast": "Posljednja"
                    }
                }
            });
        });
    </script>
</head>

<body>
<div th:include="fragments/navigation :: body"></div>

<div class="container">
    <div class="starter-template">
        <h1>Dobro došli u Feedit</h1>
    </div>
    <div th:if="${deleteMessage != null}" class="alert alert-success">
        <span th:text="${deleteMessage}"></span>
    </div>
    <div th:if="${emptyDeleteMessage != null}" class="alert alert-danger">
        <span th:text="${emptyDeleteMessage}"></span>
    </div>
    <div th:if="${articleSavedMessage != null}" class="alert alert-success">
        <span th:text="${articleSavedMessage}"></span>
    </div>
    <form action="#" th:action="@{/articles/delete-items}" th:object="${checkedItemsForm}" id="checkedForm" method="post">
        <table id="articles" class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Glasovi</th>
                <th>Naslov</th>
                <th>Datum</th>
                <th>Autor</th>
                <th>Link</th>
                <th>Unio</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="articles : ${list}">
                <td>
                    <input type="checkbox" name="checkedItems" id="checkedArticle" th:value="${articles.articleId}"/>
                </td>
                <td>
                    <div th:id="${'voting' + articles.articleId}">
                        <span th:text="${articles.articleUpvotes}"></span>
                        <a th:if="${!#strings.contains(articles.votedUsers, T(com.zadatak.security.SecurityUtil).getAuthUserFromLoggedInUser().getUserId().toString() + '+ ')}" href="#" class="fa fa-thumbs-o-up"
                           th:onclick="'vote(' + ${articles.articleId} + ', 1)'"></a>
                        <a th:if="${!#strings.contains(articles.votedUsers, T(com.zadatak.security.SecurityUtil).getAuthUserFromLoggedInUser().getUserId().toString() + '- ')}" href="#" class="fa fa-thumbs-o-down"
                           th:onclick="'vote(' + ${articles.articleId} + ', 2)'"></a>
                    </div>
                </td>
                <td>
                    <a href="#" th:href="${articles.articleLink}" target="_blank">
                        <span th:text="${articles.articleHeadline}"></span></a>
                </td>
                <td th:text="${#dates.format(articles.articleDate, 'dd.MM.yyyy')}"></td>
                <td th:text="${articles.authors.authorName}"></td>
                <td>
                    <a href="#" th:href="${articles.articleLink}" target="_blank">
                        <span th:text="${articles.articleLink}"></span></a>
                </td>
                <td th:text="${articles.authUser.loginName}"></td>

                <td>
                    <a th:href="${'/articles/edit/' + articles.articleId}">Izmjeni</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button id="deleteArticles" class="btn btn-default" type="submit">Izbriši odabrane članke</button>
        <a class="btn btn-default btn-primary" th:href="@{'/articles/newarticle/'}">Dodaj članak</a>
    </form>

</div>
</body>
</html>