<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login page</title>

    <link th:href="@{'/css/bootstrap.css'}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>

<body>
<div id="mainWrapper">
    <div class="feedit">
        <p>Feedit</p>
    </div>
    <form class="loginForm" th:action="@{/j_spring_security_check}" autocomplete="on" method="POST">
        <div th:if="${param.error}" class="alert alert-danger">
            Pogrešno korisničko ime ili lozinka.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            Odjavili ste se iz aplikacije.
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <span th:class="${(param.error != null) ? 'has-error':'' }">
 						    <input type="text" class="form-control" id="username" name="korisnickoime"
                                   placeholder="Korisničko ime"/></span>
        </div>
        <span class="help-block"></span>

        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <span th:class="${(param.error != null) ? 'has-error':'' }">
 						    <input type="password" class="form-control" id="password" name="lozinka"
                                   placeholder="Lozinka"/>
                         </span>
        </div>
        <span class="help-block"></span>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Prijava</button>
    </form>
</div>
</body>
<body>
</body>
</html>
