<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new article</title>
    <div th:include="fragments/header :: header"></div>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker({ dateFormat: 'dd.mm.yy' });
        } );
    </script>
</head>

<body>
<div th:include="fragments/navigation :: body"></div>

<div class="container">
    <div class="starter-template">
        <h1>Unos novog članka</h1>
        <form id="signInForm" class="form-horizontal" method="post" th:action="@{${'/articles/newarticle'}}" th:object="${articlesForm}">
            <div class="form-group" >
                <label class="col-xs-3 control-label">Unos:</label>
                <div class="col-xs-5">
                    <input class="form-control" disabled="disabled" th:if="${action == 'edit'}"  th:attr="value=*{loginName}" />
                    <input class="form-control" disabled="disabled" th:unless="${action == 'edit'}" th:attr="value=${T(com.zadatak.security.SecurityUtil).getAuthUserFromLoggedInUser().getLoginName()}"/>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-xs-3 control-label">Broj glasova:</label>
                <div class="col-xs-5">
                    <input class="form-control" disabled="disabled" placeholder="0" th:field="*{articleUpvotes}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Naslov:</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control" required="required" maxlength="100" data-validation-error-msg="Niste unijeli naslov članka." th:field="*{articleHeadline}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Link:</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control" required="required" data-validation="url" maxlength="512" data-validation-error-msg="Niste unijeli link u odgovarajućem formatu." th:field="*{articleLink}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Datum unosa:</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control" id="datepicker" required="required" data-validation-error-msg="Datum nije unesen ili je stavljen u budućnosti." th:field="*{articleDate}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Autor</label>
                <div class="col-xs-5">
                <select id="authorId" name="authorId" class="form-control" required="required" data-validation-error-msg="Ništa nije odabrano.">
                    <option></option>
                    <option th:each="authors : ${authors}" th:value="${authors.authorId}"
                            th:text="${authors.authorName}"
                            th:selected="${authors.authorId.equals(articlesForm.authorId)}"/>
                    <option value="0" >Dodaj novog autora</option>
                </select>
                    <input class="col-xs-5 control-label" type="text" id="new-author" data-validation="length" data-validation-length="5-20" data-validation-error-msg="Minimalno 5 znak, maksimalno 20 znakova." placeholder="Unesite ime" th:field="*{authorName}"/>
                    <script>
                        $(document).ready(function (){
                            $("#new-author").hide();
                            $("#authorId").change(function() {
                                if ($(this).val() == "0") {
                                    $("#new-author").show();
                                } else {
                                    $("#new-author").hide();
                                    $('#new-author').val("");
                                }
                            });
                        });
                    </script>
                </div>
            </div>
            <input type="hidden" th:field="*{articleId}"/>
            <input type="hidden" th:field="*{articleUpvotes}"/>
            <input type="hidden" th:field="*{votedUsers}"/>
            <input type="hidden" th:field="*{userId}"/>
            <input type="hidden" th:field="*{loginName}"/>

            <div class="form-group">
                <div class="col-xs-6 col-xs-offset-3">
                    <a th:href="@{'/articles/list/'}">Odustani</a>
                    <button class="btn btn-default" th:if="${action == 'edit'}" type="submit">Izmjeni članak</button>
                    <button class="btn btn-default" th:unless="${action == 'edit'}" type="submit">Dodaj članak</button>
                </div>
            </div>
        </form>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
        <script>
            $.validate({
                modules : 'html5'
            });
        </script>
    </div>
</div>

</body>
</html>
